.navi{
    margin: 0em auto ;
    max-width: 98.15em;
    display: flex;
    justify-content: last baseline;

}

@media (max-width: 768px) {
    nav {
        align-items: center;
        max-width: 768px;
        margin-top: -30px;
        margin-left: -40px;
  
      }
      nav a {
        font-size: 10px;
        margin-right: -35px;
        margin-left: 55px;
        padding: 10px 0px;
        margin-top: -80px;
        margin-bottom: -100px;
        justify-content: space-evenly;
  
      }
}